* { margin: 0; padding: 0; box-sizing: border-box; }
.accordion { margin-top: 6rem; font-size: 20px; width: 100%; }

.holder { list-style: none; width: 70%; margin: 0 auto; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

.question { background: #00d7825c; padding: 1rem; box-shadow: -1px -1px 3px 0px #1a1a1a4f; cursor: pointer; font-weight: 400; }

.answer { overflow: hidden; transition: all 0.3s ease-out; transform: translateY(-11%); opacity: 0.7; padding: 0 0.6rem; background: whitesmoke; font-weight: 200; letter-spacing: 1px; }
.answer.open { opacity: 1; padding: 1rem; transform: translateY(0); }
