/*.navbar-brand { padding-top: .75rem; padding-bottom: .75rem; font-size: 1rem; }

.nav-list > li > .submenu { position: relative; }
.nav-list > li > .submenu > li:before { display: block; position: absolute; z-index: 1; left: 15px; top: 0; bottom: 0; border: 1px dotted; border-width: 0 0 0 1px; content: ""; }
.nav-list > li > .submenu > li:after { display: block; width: 7px; position: absolute; z-index: 1; left: 17px; top: 20px; border: 1px dotted; border-width: 1px 0 0; content: ""; }

.nav-list > li > .submenu > li:hover { color: #4B88B7; background-color: #F1F5F9; }

.nav-list > li > .submenu > li .fa.fa-caret-right { visibility: hidden !important; }
.nav-list > li > .submenu > li.active { color: #4B88B7; background-color: #F1F5F9; }
.nav-list > li > .submenu > li.active .fa.fa-caret-right { visibility: visible !important; }
.nav-list > li > .submenu > li { border-top-color: #E4E4E4; background-color: #FFF; color: #616161; }

.nav-list > li .submenu > li:hover, .nav-list > li > a, a:active, a:focus { text-decoration: none; }

.sidebar-collapse { position: relative; }
.sidebar-collapse .sidebar-toggle-button { cursor: pointer; }
.sidebar-collapse .sidebar-toggle-button .sidebar-toggle-icon { border: 1px solid #dee2e6; background-color: white; padding: 5px 10px; }
.sidebar-collapse .sidebar-toggle-button:before { display: block; height: 0; border-top: 1px dashed; border-color: #E0E0E0; position: absolute; left: 15px; right: 15px; top: 21px; content: ""; }

a { color: #08c; text-decoration: none; }*/


/* Responsive layout*/
html { position: relative; min-height: 100%; }

body { overflow-x: hidden; }

body.sticky-footer { margin-bottom: 56px; }

body.sticky-footer .content-wrapper { min-height: calc(100vh - 56px - 56px); }

body.fixed-nav { padding-top: 56px; }

.content-wrapper { min-height: calc(100vh - 56px); padding-top: 1rem; }

.scroll-to-top { position: fixed; right: 15px; bottom: 3px; display: none; width: 50px; height: 50px; text-align: center; color: white; background: rgba(52, 58, 64, 0.5); line-height: 45px; }

.scroll-to-top:focus, .scroll-to-top:hover { color: white; }

.scroll-to-top:hover { background: #343a40; }

.scroll-to-top i { font-weight: 800; }

.smaller { font-size: 0.7rem; }

.o-hidden { overflow: hidden !important; }

.z-0 { z-index: 0; }

.z-1 { z-index: 1; }

#sideMainMenu .navbar-collapse { overflow: auto; max-height: 75vh; }

#sideMainMenu .navbar-collapse .navbar-nav .nav-item .nav-link { cursor: pointer; }

#sideMainMenu .navbar-collapse .navbar-sidenav .nav-link-collapse:after { float: right; content: '\f107'; font-family: 'FontAwesome'; }

#sideMainMenu .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after { content: '\f105'; }

#sideMainMenu .navbar-collapse .navbar-sidenav .sidenav-second-level,
#sideMainMenu .navbar-collapse .navbar-sidenav .sidenav-third-level { padding-left: 0; }

#sideMainMenu .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a,
#sideMainMenu .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a { display: block; padding: 0.5em 0; }

#sideMainMenu .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus, #sideMainMenu .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover,
#sideMainMenu .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus,
#sideMainMenu .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover { text-decoration: none; }

#sideMainMenu .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a { padding-left: 1em; }

#sideMainMenu .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a { padding-left: 2em; }

#sideMainMenu .navbar-collapse .sidenav-toggler { display: none; }

#sideMainMenu .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link { position: relative; min-width: 45px; }

#sideMainMenu .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after { float: right; width: auto; content: '\f105'; border: none; font-family: 'FontAwesome'; }

#sideMainMenu .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator { position: absolute; top: 5px; left: 21px; font-size: 10px; }

#sideMainMenu .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after { content: '\f107'; }

#sideMainMenu .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message { overflow: hidden; max-width: none; text-overflow: ellipsis; }

@media (min-width: 992px) {
	#sideMainMenu .navbar-brand { width: 250px; }
	#sideMainMenu .navbar-collapse { overflow: visible; max-height: none; }
	#sideMainMenu .navbar-collapse .navbar-sidenav { position: absolute; top: 0; left: 0; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; margin-top: 56px; }
	#sideMainMenu .navbar-collapse .navbar-sidenav > .nav-item { width: 250px; padding: 0; }
	#sideMainMenu .navbar-collapse .navbar-sidenav > .nav-item > .nav-link { padding: 1em; }
	#sideMainMenu .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
	#sideMainMenu .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level { padding-left: 0; list-style: none; }
	#sideMainMenu .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li,
	#sideMainMenu .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li { width: 250px; }
	#sideMainMenu .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
	#sideMainMenu .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a { padding: 1em; }
	#sideMainMenu .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a { padding-left: 2.75em; }
	#sideMainMenu .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a { padding-left: 3.75em; }
	#sideMainMenu .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link { min-width: 0; }
	#sideMainMenu .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after { width: 24px; text-align: center; }
	#sideMainMenu .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message { max-width: 300px; }
}

#sideMainMenu.fixed-top .sidenav-toggler { /* display: none; */ }

@media (min-width: 992px) {
	#sideMainMenu.fixed-top .navbar-sidenav { height: calc(100vh - 112px); }
	#sideMainMenu.fixed-top .sidenav-toggler { position: absolute; top: 0; left: 0; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; margin-top: calc(100vh - 56px); }
	#sideMainMenu.fixed-top .sidenav-toggler > .nav-item { width: 250px; padding: 0; }
	#sideMainMenu.fixed-top .sidenav-toggler > .nav-item > .nav-link { padding: 1em; }
}

#sideMainMenu.fixed-top.navbar-dark .sidenav-toggler { background-color: #212529; }

#sideMainMenu.fixed-top.navbar-dark .sidenav-toggler a i { color: #adb5bd; }

#sideMainMenu.fixed-top.navbar-light .sidenav-toggler { background-color: #dee2e6; }

#sideMainMenu.fixed-top.navbar-light .sidenav-toggler a i { color: rgba(0, 0, 0, 0.5); }

body.sidenav-toggled #sideMainMenu.fixed-top .sidenav-toggler { overflow-x: hidden; width: 55px; }

body.sidenav-toggled #sideMainMenu.fixed-top .sidenav-toggler .nav-item,
body.sidenav-toggled #sideMainMenu.fixed-top .sidenav-toggler .nav-link { width: 55px !important; }

body.sidenav-toggled #sideMainMenu.fixed-top #sidenavToggler i { -webkit-transform: scaleX(-1); -moz-transform: scaleX(-1); -o-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: 'FlipH'; }

#sideMainMenu.static-top .sidenav-toggler { display: none; }

@media (min-width: 992px) {
	#sideMainMenu.static-top .sidenav-toggler { display: flex; }
}

body.sidenav-toggled #sideMainMenu.static-top #sidenavToggler i { -webkit-transform: scaleX(-1); -moz-transform: scaleX(-1); -o-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: 'FlipH'; }

.content-wrapper { overflow-x: hidden; background: white; }

@media (min-width: 992px) {
	.content-wrapper { margin-left: 250px; }
}

#sidenavToggler i { font-weight: 800; }

.navbar-sidenav-tooltip.show { display: none; }

@media (min-width: 992px) {
	body.sidenav-toggled .content-wrapper { margin-left: 55px; }
}

body.sidenav-toggled .navbar-sidenav { width: 55px; }

body.sidenav-toggled .navbar-sidenav .nav-link-text { display: none; }

body.sidenav-toggled .navbar-sidenav .nav-item,
body.sidenav-toggled .navbar-sidenav .nav-link { width: 55px !important; }

body.sidenav-toggled .navbar-sidenav .nav-item:after,
body.sidenav-toggled .navbar-sidenav .nav-link:after { display: none; }

body.sidenav-toggled .navbar-sidenav .nav-item { white-space: nowrap; }

body.sidenav-toggled .navbar-sidenav-tooltip.show { display: flex; }

#sideMainMenu.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after { color: #868e96; }

#sideMainMenu.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link { color: #868e96; }

#sideMainMenu.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover { color: #adb5bd; }

#sideMainMenu.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#sideMainMenu.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a { color: #868e96; }

#sideMainMenu.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #sideMainMenu.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
#sideMainMenu.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
#sideMainMenu.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover { color: #adb5bd; }

#sideMainMenu.navbar-dark .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after { color: #adb5bd; }

@media (min-width: 992px) {
	#sideMainMenu.navbar-dark .navbar-collapse .navbar-sidenav { background: #343a40; }
	#sideMainMenu.navbar-dark .navbar-collapse .navbar-sidenav li.active a { color: white !important; background-color: #495057; }
	#sideMainMenu.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus, #sideMainMenu.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover { color: white; }
	#sideMainMenu.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
	#sideMainMenu.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level { background: #343a40; }
}

#sideMainMenu.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after { color: rgba(0, 0, 0, 0.5); }

#sideMainMenu.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link { color: rgba(0, 0, 0, 0.5); }

#sideMainMenu.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover { color: rgba(0, 0, 0, 0.7); }

#sideMainMenu.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#sideMainMenu.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a { color: rgba(0, 0, 0, 0.5); }

#sideMainMenu.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #sideMainMenu.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
#sideMainMenu.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
#sideMainMenu.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover { color: rgba(0, 0, 0, 0.7); }

#sideMainMenu.navbar-light .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after { color: rgba(0, 0, 0, 0.5); }

@media (min-width: 992px) {
	#sideMainMenu.navbar-light .navbar-collapse .navbar-sidenav { background: #f8f9fa; }
	#sideMainMenu.navbar-light .navbar-collapse .navbar-sidenav li.active a { color: #000 !important; background-color: #e9ecef; }
	#sideMainMenu.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus, #sideMainMenu.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover { color: #000; }
	#sideMainMenu.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
	#sideMainMenu.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level { background: #f8f9fa; }
}

.card-body-icon { position: absolute; z-index: 0; top: -25px; right: -25px; font-size: 5rem; -webkit-transform: rotate(15deg); -ms-transform: rotate(15deg); transform: rotate(15deg); }

@media (min-width: 576px) {
	.card-columns { column-count: 1; }
}

@media (min-width: 768px) {
	.card-columns { column-count: 2; }
}

@media (min-width: 1200px) {
	.card-columns { column-count: 2; }
}

.card-login { max-width: 25rem; }

.card-register { max-width: 40rem; }

footer.sticky-footer { position: absolute; right: 0; bottom: 0; width: 100%; height: 56px; background-color: #e9ecef; line-height: 55px; }

@media (min-width: 992px) {
	footer.sticky-footer { width: calc(100% - 250px); }
}

@media (min-width: 992px) {
	body.sidenav-toggled footer.sticky-footer { width: calc(100% - 55px); }
}
