<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>@ViewData["Title"] - KentNoteBook.WebApp</title>

	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link href="~/lib/fontawesome/css/font-awesome.css" rel="stylesheet" />
		<link href="~/lib/jquery-dataTables/dataTables.bootstrap4.css" rel="stylesheet" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link href="~/lib/fontawesome/css/font-awesome.css" rel="stylesheet" />
		<link href="~/lib/jquery-dataTables/dataTables.bootstrap4.css" rel="stylesheet" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="pageTop">

	<!-- Left navigation menu-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="sideMainMenu">
		<a class="navbar-brand" href="/DashboardV1">STP Xcelerator 3.0</a>
		<button class="navbar-toggler navbar-toggler-right border" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation">
			<i class="fa fa-list"></i>
		</button>

		<div class="navbar-collapse collapse" id="navbarResponsive">
			<ul class="navbar-nav navbar-sidenav" id="menuRoot">
				<li class="nav-item" data-toggle="tooltip" data-placement="right" data-original-title="Dashboard" title="Dashboard">
					<a class="nav-link" href="/DashboardV1">
						<i class="fa fa-fw fa-dashboard"></i>
						<span class="nav-link-text">Dashboard</span>
					</a>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tables">
					<a class="nav-link" href="#">
						<i class="fa fa-fw fa-table"></i>
						<span class="nav-link-text">Setup</span>
					</a>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tables">
					<a class="nav-link" href="#">
						<i class="fa fa-fw fa-table"></i>
						<span class="nav-link-text">Results_Dashboard</span>
					</a>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tables">
					<a class="nav-link" href="#">
						<i class="fa fa-fw fa-table"></i>
						<span class="nav-link-text">Corrective_Action</span>
					</a>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tables">
					<a class="nav-link" href="#">
						<i class="fa fa-fw fa-table"></i>
						<span class="nav-link-text">Australia_N1</span>
					</a>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tables">
					<a class="nav-link" href="#">
						<i class="fa fa-fw fa-table"></i>
						<span class="nav-link-text">Solid_Waste2</span>
					</a>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tables">
					<a class="nav-link" href="#">
						<i class="fa fa-fw fa-table"></i>
						<span class="nav-link-text">Part_A-3_-_3</span>
					</a>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tables">
					<a class="nav-link" href="#">
						<i class="fa fa-fw fa-table"></i>
						<span class="nav-link-text">Part_D_-_Us4</span>
					</a>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tables">
					<a class="nav-link" href="#">
						<i class="fa fa-fw fa-table"></i>
						<span class="nav-link-text">Part_E_-_Un5</span>
					</a>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tables">
					<a class="nav-link" href="#">
						<i class="fa fa-fw fa-table"></i>
						<span class="nav-link-text">Hazardous_M6</span>
					</a>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tables">
					<a class="nav-link" href="#">
						<i class="fa fa-fw fa-table"></i>
						<span class="nav-link-text">Recordkeepi7</span>
					</a>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tables">
					<a class="nav-link" href="#">
						<i class="fa fa-fw fa-table"></i>
						<span class="nav-link-text">Process_Saf8</span>
					</a>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tables">
					<a class="nav-link" href="#">
						<i class="fa fa-fw fa-table"></i>
						<span class="nav-link-text">Scoring_Settings</span>
					</a>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tables">
					<a class="nav-link" href="#">
						<i class="fa fa-fw fa-table"></i>
						<span class="nav-link-text">Guidenotes</span>
					</a>
				</li>
			</ul>

			<ul class="navbar-nav sidenav-toggler">
				<li class="nav-item">
					<a class="nav-link text-center" id="sidenavToggler">
						<i class="fa fa-fw fa-angle-left"></i>
					</a>
				</li>
			</ul>

			<ul class="navbar-nav ml-auto">
				@*<li class="nav-item">
						<form class="form-inline my-2 my-lg-0 mr-lg-2">
							<div class="input-group">
								<input class="form-control" type="text" placeholder="Search for...">
								<span class="input-group-append">
									<button class="btn btn-primary" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</form>
					</li>*@
				<li class="nav-item">
					<a class="nav-link" data-toggle="modal" data-target="#LogoutModalDialog">
						<i class="fa fa-fw fa-sign-out"></i>Logout
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Main Body -->
	<div class="content-wrapper">
		<div class="container-fluid">
			@RenderBody()
		</div>
		<footer class="sticky-footer">
			<div class="container">
				<div class="text-center">
					<small>Copyright © 2018 Specialty Technical Publishers. All rights reserved.</small>
				</div>
			</div>
		</footer>

		<!-- Scroll to the top -->
		<a class="scroll-to-top rounded" href="#pageTop">
			<i class="fa fa-angle-up"></i>
		</a>

		<!-- Logout dialog -->
		<div class="modal fade" id="LogoutModalDialog" tabindex="-1" role="dialog" aria-labelledby="LogoutModalLabel" style="display: none;" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="LogoutModalLabel">Ready to Leave?</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
						<a class="btn btn-primary" href="Login">Logout</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery-3.3.1.js"></script>
		<script src="~/lib/popper/popper.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/lib/jquery-dataTables/jquery.dataTables.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/lib/jquery/dist/jquery-3.3.1.js"></script>
		<script src="~/lib/popper/popper.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/lib/jquery-dataTables/jquery.dataTables.js"></script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("Scripts", required: false)

	<script>
		$(function () {

			$('.navbar-sidenav [data-toggle="tooltip"]').tooltip({ template: '<div class="tooltip navbar-sidenav-tooltip" role="tooltip" style="pointer-events: none;"><div class="arrow"></div><div class="tooltip-inner"></div></div>' });

			$("#sidenavToggler").click(function (o) { o.preventDefault(), $("body").toggleClass("sidenav-toggled"), $(".navbar-sidenav .nav-link-collapse").addClass("collapsed"), $(".navbar-sidenav .sidenav-second-level, .navbar-sidenav .sidenav-third-level").removeClass("show") });

			$(".navbar-sidenav .nav-link-collapse").click(function (o) { o.preventDefault(), $("body").removeClass("sidenav-toggled") });

			$("body.fixed-nav .navbar-sidenav, body.fixed-nav .sidenav-toggler, body.fixed-nav .navbar-collapse").on("mousewheel DOMMouseScroll", function (e) { var o = e.originalEvent, t = o.wheelDelta || -o.detail; this.scrollTop += 30 * (t < 0 ? 1 : -1), e.preventDefault() });

			$(document).scroll(function () { $(this).scrollTop() > 100 ? $(".scroll-to-top").fadeIn() : $(".scroll-to-top").fadeOut() });
			$('[data-toggle="tooltip"]').tooltip();

			$(document).on("click", "a.scroll-to-top", function (o) { var t = $(this); $("html, body").stop().animate({ scrollTop: $(t.attr("href")).offset().top }), o.preventDefault() });
		});
	</script>
</body>

</html>