<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>@ViewData["Title"] - Admin System V1.0</title>

	@{await Html.RenderPartialAsync("Shared/_SiteCssStylesPartial");}

</head>
<body id="pageBody" class="push-right" style="height:calc(100% - 56px);">
	<app-root>
		@RenderBody()
	</app-root>

	@{await Html.RenderPartialAsync("Shared/_SiteScriptsPartial");}

	@RenderSection("Scripts", required: false)

	<!-- modal dialog begin -->
	<div class="modal" tabindex="-1" role="dialog" id="modal_dialog_layout">
		<div class="modal-dialog shadow" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<!-- put some content here -->
				</div>
				<div class="modal-footer d-none">
					<button type="button" class="btn btn-primary">Save changes</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal dialog end -->
	<!-- confirm dialog -->
	<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_confirm_layout" aria-hidden="true" id="modal_confirm_layout">
		<div class="modal-dialog shadow" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Confirm</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Are you sure you want to proceed?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger">Yes</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	<!-- confirm dialog end-->
</body>
</html>