<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>@ViewData["Title"] - Admin System V1.0</title>

	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link href="~/lib/fontawesome/css/font-awesome.css" rel="stylesheet" />
		<link href="~/lib/kendo-ui/css/kendo.bootstrap.css" rel="stylesheet" />
		<link href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link href="~/lib/fontawesome/css/font-awesome.css" rel="stylesheet" />
		<link href="~/lib/kendo-ui/css/kendo.bootstrap.css" rel="stylesheet" />
		<link href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
</head>
<body id="pageBody" style="height:calc(100% - 56px);">

	<!-- header begin -->
	<nav class="navbar navbar-expand-lg navbar-header border-bottom fixed-top">
		<a class="navbar-brand" href="#">Admin System V1.0</a>
		<button class="navbar-toggler border text-white" type="button" id="btnToggleSidebar">
			<i class="fa fa-bars"></i>
		</button>
		<div class="btn-group ml-auto profile-setting">
			<a class="nav-link btn btn-secondary dropdown-toggle bg-transparent border-0" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Admin User <b class="caret"></b></a>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-user"></i> Profile </a>
				<a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-envelope"></i> Inbox </a>
				<a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-gear"></i> Settings </a>
				<a class="dropdown-item" href="/login"><i class="fa fa-fw fa-power-off"></i> Log Out </a>
			</div>
		</div>
	</nav>
	<!-- header end -->
	<!-- siderbar begin -->
	<nav class="sidebar">
		<div class="list-group" id="menuRoot">
			<a class="list-group-item" href="/dashboard"><i class="fa fa-fw fa-dashboard"></i> <span class="nav-link-text">&nbsp;Dashboard </span></a>
			<a class="list-group-item" href="/charts"><i class="fa fa-fw fa-bar-chart-o"></i><span class="nav-link-text">&nbsp;Charts </span></a>
			<a class="list-group-item" href="/tables"><i class="fa fa-fw fa-table"></i><span class="nav-link-text">&nbsp;Tables</span> </a>
			<a class="list-group-item router-link-active" href="/forms"><i class="fa fa-fw fa-edit"></i><span class="nav-link-text">&nbsp;Forms</span> </a>
			<a class="list-group-item" href="/bs-element"><i class="fa fa-fw fa-desktop"></i><span class="nav-link-text">&nbsp;Bootstrap Element</span> </a>
			<a class="list-group-item" href="/grid"><i class="fa fa-fw fa-wrench"></i><span class="nav-link-text">&nbsp;Bootstrap Grid</span> </a>
			<a class="list-group-item" href="/components"><i class="fa fa-th-list"></i><span class="nav-link-text">&nbsp;Component</span> </a>

			<div class="submenu" data-toggle="tooltip" data-placement="right">
				<a class="nav-link nav-link-collapse list-group-item collapsed" data-toggle="collapse" href="#collapseUserAccouts" data-parent="#menuRoot" aria-expanded="false">
					<i class="fa fa-fw fa-group"></i>
					<span class="nav-link-text">User Accounts</span>
				</a>
				<ul class="collapse collapsed " id="collapseUserAccouts">
					<li>
						<a href="/UserAccounts/Users"><i class="fa fa-fw fa-user"></i><span class="nav-link-text">&nbsp;Users</span></a>
					</li>
				</ul>
			</div>

			<div class="submenu side-profile" data-toggle="tooltip" data-placement="right">
				<a class="nav-link nav-link-collapse list-group-item collapsed" data-toggle="collapse" href="#collapseSettings" data-parent="#menuRoot" aria-expanded="false">
					<i class="fa fa-fw fa-user"></i>
					<span class="nav-link-text">Admin User</span>
				</a>
				<ul class="collapse collapsed" id="collapseSettings">
					<li><a href="javascript:void(0)"><span><i class="fa fa-fw fa-user"></i> Profile</span></a></li>
					<li><a href="javascript:void(0)"><span><i class="fa fa-fw fa-envelope"></i> Inbox</span></a></li>
					<li><a href="javascript:void(0)"><span><i class="fa fa-fw fa-gear"></i> Settings</span></a></li>
					<li><a href="/login"><span><i class="fa fa-fw fa-power-off"></i> Log Out</span></a></li>
				</ul>
			</div>

			<a class="nav-link text-center list-group-item sidenav-toggler" id="btnCollopseLeftNavMenu">
				<i class="fa fa-fw fa-angle-left"></i>
			</a>
		</div>
	</nav>
	<!-- siderbar end -->
	<!-- main content begin -->
	<section class="main-container" style="min-height: calc(100% - 57px);">
		@RenderBody()
	</section>
	<!-- main content end -->
	<!-- footer begin -->
	<footer class="sticky-footer">
		<div class="container">
			<div class="text-center align-middle">
				<small>Copyright © 2018 XXX Corp. All rights reserved.</small>
			</div>
		</div>
	</footer>
	<!-- footer end -->
	<!-- Scroll to the top -->
	<a class="scroll-to-top rounded" href="#pageBody">
		<i class="fa fa-angle-up"></i>
	</a>

	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery-3.3.1.js"></script>
		<script src="~/lib/popper/popper.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/lib/kendo-ui/js/kendo.ui.grid.js"></script>
		<script src="~/js/grid.js"></script>
		<script src="~/lib/bootstrap-datetimepicker/js/moment.js"></script>
		<script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/lib/jquery/dist/jquery-3.3.1.js"></script>
		<script src="~/lib/popper/popper.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/lib/kendo-ui/js/kendo.ui.grid.js"></script>
		<script src="~/js/grid.js"></script>
		<script src="~/lib/bootstrap-datetimepicker/js/moment.js"></script>
		<script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("Scripts", required: false)

	<!-- modal dialog begin -->
	<div class="modal" tabindex="-1" role="dialog" id="modal_dialog_layout">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<!-- put some content here -->
				</div>
				<div class="modal-footer d-none">
					<button type="button" class="btn btn-primary">Save changes</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal dialog end -->

	<!-- confirm dialog -->
	<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_confirm_layout" aria-hidden="true" id="modal_confirm_layout">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Confirm</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger">Confirm</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- confirm dialog end-->

	<script type="text/javascript">

		$(function () {
			$("#btnToggleSidebar").click(function () {
				$("body").toggleClass("push-right").removeClass("sidebar-collapsed").removeClass("main-container-expanded");
			});
			$("section.main-container").click(function () {
				$("body").removeClass("push-right").removeClass("sidebar-collapsed").removeClass("main-container-expanded");
			});

			$("#btnCollopseLeftNavMenu").click(function () {
				$(this).find(".fa").toggleClass("fa-angle-left").toggleClass("fa-angle-right");

				if ($(this).find(".fa").hasClass("fa-angle-right")) {
					$(".sidebar").addClass("sidebar-collapsed");
					$(".main-container").addClass("main-container-expanded");
				} else {
					$(".sidebar").removeClass("sidebar-collapsed");
					$(".main-container").removeClass("main-container-expanded");
				}
			});

			$(document).scroll(function () {
				$(this).scrollTop() > 100 ? $(".scroll-to-top").fadeIn() : $(".scroll-to-top").fadeOut()
			});
			$('[data-toggle="tooltip"]').tooltip();

			$(document).on("click", "a.scroll-to-top", function (o) {
				var t = $(this);
				$("html, body").stop().animate({ scrollTop: $(t.attr("href")).offset().top - 70 }), o.preventDefault()
			});

		});

		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function () {
			'use strict';
			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');
				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');
					}, false);
				});
			}, false);
		})();

	</script>

</body>

</html>