@page
@model ContactModel
@{
	ViewData["Title"] = "Contact";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb border">
		<li class="breadcrumb-item"><a href="#">Home</a></li>
		<li class="breadcrumb-item"><a href="#">Orders</a></li>
		<li class="breadcrumb-item active" aria-current="page">Order 1</li>
	</ol>
</nav>

<form class="pl-3 needs-validation" novalidate>
	<fieldset>
		<legend class="border-bottom"> Form Horizontal</legend>
		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="focusedInput">Focused input</label>
			<div class="col-sm-6">
				<input id="focusedInput" class="form-control" type="text" placeholder="First name" value="This is focused..." required />
				@*<div class="valid-tooltip">
						Looks good!
					</div>*@
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="Username">Username</label>
			<div class="col-sm-6">
				<input id="Username" class="form-control" type="text" placeholder="First name" aria-describedby="inputGroupPrepend2" required />
				<div class="invalid-tooltip">
					Please provide a valid Username.
				</div>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="disabledInput">Disabled input</label>
			<div class="col-sm-6">
				<input id="disabledInput" class="form-control" type="text" splaceholder="Disabled input here..." disabled="" />
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2">Uneditable input</label>
			<div class="col-sm-6">
				Some value here
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="optionsCheckbox1">Disabled checkbox</label>
			<div class="col-sm-6">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="optionsCheckbox1" disabled />
					<label class="custom-control-label" for="optionsCheckbox1">This is a disabled checkbox</label>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="optionsCheckbox2">Enabled checkbox</label>
			<div class="col-sm-6">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="optionsCheckbox2" />
					<label class="custom-control-label" for="optionsCheckbox2">This is a enbled checkbox</label>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="selectError">Select with success</label>
			<div class="col-sm-6 mb-5">
				<select id="selectError" class="form-control">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
				<div class="valid-tooltip">
					Looks good!
				</div>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2">Varying modal content</label>
			<div class="col-sm-6 mb-5">
				<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@@mdo">Open modal for @@mdo</button>
				<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@@fat">Open modal for @@fat</button>
				<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@@getbootstrap">Open modal for @@getbootstrap</button>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2">&nbsp;</label>
			<div class="col-sm-6">
				<button type="submit" class="btn btn-primary">Save changes</button>
				<button type="reset" class="btn btn-primary">Cancel</button>
			</div>
		</div>
	</fieldset>
</form>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">New message</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">Recipient:</label>
						<input type="text" class="form-control" id="recipient-name">
					</div>
					<div class="form-group">
						<label for="message-text" class="col-form-label">Message:</label>
						<textarea class="form-control" id="message-text"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Send message</button>
			</div>
		</div>
	</div>
</div>

<script>
	// Example starter JavaScript for disabling form submissions if there are invalid fields
	(function () {
		'use strict';
		window.addEventListener('load', function () {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function (form) {
				form.addEventListener('submit', function (event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');
				}, false);
			});
		}, false);
	})();


	$('#exampleModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget) // Button that triggered the modal
		var recipient = button.data('whatever') // Extract info from data-* attributes
		// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
		var modal = $(this)
		modal.find('.modal-title').text('New message to ' + recipient)
		modal.find('.modal-body input').val(recipient)
	})
</script>