@page
@model KentNoteBook.WebApp.Pages.FormModel
@{
    ViewData["Title"] = "Form";
}

<!--- Breadcrumbs -->
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="Dashboard">Dashboard</a>
	</li>
	<li class="breadcrumb-item active">Forms</li>
</ol>

<form class="pl-3 needs-validation" novalidate>
	<fieldset>
		<legend class="border-bottom"> Audit</legend>
		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="focusedInput">
				Facility
			</label>
			<div class="col-sm-6">
				<input id="focusedInput" class="form-control form-control-sm" type="text" placeholder="Facility name" value="Fac 567" required />
				@*<div class="valid-tooltip">
						Looks good!
					</div>*@
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="Site">Site</label>
			<div class="col-sm-6">
				<input id="Site" class="form-control form-control-sm" type="text" placeholder="First name" value="North Wacker Drive, Peoria, IL, USA" aria-describedby="inputGroupPrepend2" required />
				<div class="invalid-tooltip">
					Please provide a valid Username.
				</div>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="Department">Department</label>
			<div class="col-sm-6">
				<input id="Department" class="form-control form-control-sm" type="text" placeholder="Department" disabled="" />
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="CustomField">Custom Field</label>
			<div class="col-sm-6">
				<input id="CustomField" class="form-control form-control-sm" type="text" placeholder="Custom Field" disabled="" />
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="disabledInput">Site Manager</label>
			<div class="col-sm-2">
				<input id="SiteManager" class="form-control form-control-sm" type="text" placeholder="Site Manager" disabled="" />
			</div>
			<label class="col-sm-1 col-form-label ml-2" for="disabledInput">Title</label>
			<div class="col-sm-2">
				<input id="SiteManagerTitle" class="form-control form-control-sm" type="text" placeholder="Site Manager Title" disabled="" />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="AuditManager">Audit Manager</label>
			<div class="col-sm-2">
				<input id="AuditManager" class="form-control form-control-sm" type="text" placeholder="Audit Manager" disabled="" />
			</div>
			<label class="col-sm-1 col-form-label ml-2" for="AuditManagerTitle">Title</label>
			<div class="col-sm-2">
				<input id="AuditManagerTitle" class="form-control form-control-sm" type="text" placeholder="Audit Manager Title" disabled="" />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="Managers">Managers</label>
			<div class="col-sm-2">
				<input id="Managers" class="form-control form-control-sm" type="text" placeholder="Managers" disabled="" />
			</div>
			<label class="col-sm-1 col-form-label ml-2" for="ManagersTitle">Title</label>
			<div class="col-sm-2">
				<input id="ManagersTitle" class="form-control form-control-sm" type="text" placeholder="Managers Title" disabled="" />
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend class="border-bottom"> Inspection</legend>

		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="StartDate">Start Date</label>
			<div class="col-sm-2">
				<input id="StartDate" class="form-control form-control-sm" type="text" placeholder="Start Date" />
			</div>
			<label class="col-sm-1 col-form-label ml-2" for="End Date">Title</label>
			<div class="col-sm-2">
				<input id="EndDate" class="form-control form-control-sm" type="text" placeholder="End Date" />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="Managers">Lead Inspector</label>
			<div class="col-sm-2">
				<input id="LeadInspector" class="form-control form-control-sm" type="text" placeholder="Lead Inspector" disabled="" />
			</div>
			<label class="col-sm-1 col-form-label ml-2" for="LeadInspectorTitle">Title</label>
			<div class="col-sm-2">
				<input id="LeadInspectorTitle" class="form-control form-control-sm" type="text" placeholder="Lead Inspector Title" disabled="" />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="SiteInspector1">Site Inspector1</label>
			<div class="col-sm-2">
				<input id="SiteInspector1" class="form-control form-control-sm" type="text" placeholder="Site Inspector1" disabled="" />
			</div>
			<label class="col-sm-1 col-form-label ml-2" for="SiteInspector1Title">Title</label>
			<div class="col-sm-2">
				<input id="SiteInspector1Title" class="form-control form-control-sm" type="text" placeholder="Site Inspector1 Title" disabled="" />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="SiteInspector2">Site Inspector2</label>
			<div class="col-sm-2">
				<input id="SiteInspector2" class="form-control form-control-sm" type="text" placeholder="Site Inspector2" disabled="" />
			</div>
			<label class="col-sm-1 col-form-label ml-2" for="SiteInspector2Title">Title</label>
			<div class="col-sm-2">
				<input id="SiteInspector2Title" class="form-control form-control-sm" type="text" placeholder="Site Inspector2 Title" disabled="" />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="OtherSiteInspectors">Other Site Inspectors</label>
			<div class="col-sm-2">
				<input id="OtherSiteInspectors" class="form-control form-control-sm" type="text" placeholder="Other Site Inspectors" disabled="" />
			</div>
			<label class="col-sm-1 col-form-label ml-2" for="OtherSiteInspectorsTitle">Title</label>
			<div class="col-sm-2">
				<input id="OtherSiteInspectorsTitle" class="form-control form-control-sm" type="text" placeholder="Other Site Inspectors Title" disabled="" />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="Notes">Notes</label>
			<div class="col-sm-6">
				<textarea class="form-control form-control-sm" id="Notes" rows="3"></textarea>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2">&nbsp;</label>
			<div class="col-sm-6">
				<button type="submit" class="btn btn-primary btn-sm">Save changes</button>
				<button type="reset" class="btn btn-primary btn-sm">Cancel</button>
			</div>
		</div>
	</fieldset>
</form>
