@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<!-- header begin -->
<nav class="navbar navbar-header border-bottom fixed-top" ajax-panel="true" data-url="Shared/Top"><p><span class='pl-3'><i class='fa fa-fw fa-spinner fa-spin mr-1'></i>Processing...</span></p></nav>
<!-- header end -->
<!-- siderbar begin -->
<nav class="sidebar" ajax-panel="true" data-url="Shared/Left"><p><span class='pl-3'><i class='fa fa-fw fa-spinner fa-spin mr-1'></i>Processing...</span></p></nav>
<!-- siderbar end -->
<!-- main content begin -->
<section class="main-container" style="min-height: calc(100% - 57px);">
	<p><span class='pl-3'><i class='fa fa-fw fa-spinner fa-spin mr-1'></i>Processing...</span></p>
</section>

@section Scripts{

	<script type="text/javascript">
		debugger;
		if ($.isTokenValid()) {
			$.renderPartial($(".main-container"), "/Dashboard");
		} else {
			$.renderPartial($("app-root"), "/Login");
		}

	</script>

}