@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<p><span class='pl-3'><i class='fa fa-fw fa-spinner fa-spin mr-1'></i>Processing...</span></p>

@section Scripts{

	<script type="text/javascript">
		if ($.isTokenValid()) {
			$("#pageBody").removeClass("bg-dark");
			$.renderPartial($("app-root"), "/AppRoot?_=@DateTime.Now.Millisecond");
		} else {
			$.renderPartial($("app-root"), "/Login?_=@DateTime.Now.Millisecond");
		}

	</script>

}