@page
@model KentNoteBook.WebApp.Pages.LoginModel
@{
	ViewData["Title"] = "Login";

	Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>@ViewData["Title"] - Admin System V1.0</title>

	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link href="~/lib/fontawesome/css/font-awesome.css" rel="stylesheet" />
		<link href="~/lib/kendo-ui/css/kendo.bootstrap.css" rel="stylesheet" />
		<link href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link href="~/lib/fontawesome/css/font-awesome.css" rel="stylesheet" />
		<link href="~/lib/kendo-ui/css/kendo.bootstrap.css" rel="stylesheet" />
		<link href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
</head>

<body class="bg-dark">
	<div class="container justify-content-center">
		<div class="card mt-5 mx-auto login-card">
			<div class="card-header">
				Login
			</div>
			<div class="card-body pb-1">
				<form id="formLogin" method="post" data-alert-panel="#alert_panel" asp-page-handler="Login">
					<div class="form-group row">
						<label class="col-sm-12 col-form-label" for="UserName">User Name </label>
						<div class="col-sm-12">
							@Html.TextBoxFor(x => x.User.UserName, new { @class = "form-control", placeholder = "User Name" })
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-form-label" for="Password">Password</label>
						<div class="col-sm-12">
							@Html.PasswordFor(x => x.User.Password, new { @class = "form-control", placeholder = "Password" })
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-12">
							<button id="btnLogin" type="submit" class="btn btn-primary btn-block" data-ajax-request="true">Login</button>
						</div>
					</div>
					<div id="alert_panel">
					</div>
				</form>
			</div>
		</div>
	</div>

	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery-3.3.1.js"></script>
		<script src="~/lib/popper/popper.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/lib/kendo-ui/js/kendo.ui.grid.js"></script>
		<script src="~/lib/bootstrap-datetimepicker/js/moment.js"></script>
		<script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/lib/jquery/dist/jquery-3.3.1.js"></script>
		<script src="~/lib/popper/popper.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/lib/kendo-ui/js/kendo.ui.grid.js"></script>
		<script src="~/lib/bootstrap-datetimepicker/js/moment.js"></script>
		<script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	<script type="text/javascript">
		$(function () {

			$("#formLogin").data("ajaxCallback", function (data) {
				if (data && data.Code) {
					localStorage.setItem("access_token", data.Data.access_token);

					location.href = "index";
				}
			});
		});
	</script>
</body>
</html>

