@page
@model KentNoteBook.WebApp.Pages.UserManagement.MenusModel
@{
	ViewData["Title"] = "Menus";

	Layout = null;
}

<!--- Breadcrumbs -->
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#" ajax-link="true" data-url="/dashboard" data-update-panel=".main-container">Dashboard</a>
	</li>
	<li class="breadcrumb-item">
		<a href="#" ajax-link="true" data-url="/UserManagement/Users" data-update-panel=".main-container">User Management</a>
	</li>
	<li class="breadcrumb-item active">Menus</li>
</ol>

<form method="post">
	<div id="alert_panel"></div>
	<div class="form-group row">
		<button type="button" class="btn btn-primary btn-sm ml-3 mr-1" data-toggle="modal" data-target="#modal_dialog_layout" data-modal-title="Add Menu" data-modal-url="/UserManagement/Dialog/MenuEdit" data-modal-size="lg"><i class="fa fa-fw fa-plus mr-1"></i>Add</button>
		<button type='button' class='btn btn-danger btn-sm mr-1' data-toggle='modal' data-target='#modal_confirm_layout' data-url='/UserManagement/Menus?handler=Remove' data-alert-panel='#alert_panel' data-update-panel='#tbMenus'><i class='fa fa-fw fa-remove mr-1'></i>Remove All</button>
	</div>

	<ul class="list-group" id="menuContainer">
		<li class="list-group-item p-0">
			<a class="py-2 pl-1 my-1 ml-3 d-block" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">	Cras justo odio</a>
			<ul class="list-group list-group-flush collapse collapsed pl-3" id="collapseOne" aria-labelledby="headingOne" data-parent="#menuContainer">
				<li class="list-group-item">Cras justo odio</li>
				<li class="list-group-item">Dapibus ac facilisis in</li>
				<li class="list-group-item">Morbi leo risus</li>
				<li class="list-group-item">Porta ac consectetur ac</li>
				<li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</li>
		<li class="list-group-item">Dapibus ac facilisis in</li>
		<li class="list-group-item">Morbi leo risus</li>
		<li class="list-group-item">Porta ac consectetur ac</li>
		<li class="list-group-item">Vestibulum at eros</li>
	</ul>

</form>


