@page
@model KentNoteBook.WebApp.Pages.UserAccounts.UsersModel
@{
	ViewData["Title"] = "Users";
}

<!--- Breadcrumbs -->
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="/Dashboard">Dashboard</a>
	</li>
	<li class="breadcrumb-item">
		<a href="/UserAccounts/Users">User Accounts</a>
	</li>
	<li class="breadcrumb-item active">Users</li>
</ol>

<div class="form-group row">
	<button type="button" class="btn btn-primary ml-auto mr-3">Add</button>
</div>

<div id="tbUsers" class="mb-3" style="height:100%">
	<table id="grid">
		<colgroup>
			<col />
			<col />
			<col style="width:110px" />
			<col style="width:120px" />
			<col style="width:130px" />
		</colgroup>
		<thead>
			<tr>
				<th data-field="make">Car Make</th>
				<th data-field="model">Car Model</th>
				<th data-field="year">Year</th>
				<th data-field="category">Category</th>
				<th data-field="airconditioner">Air Conditioner</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Opel</td>
				<td>Vectra</td>
				<td>2008</td>
				<td>Saloon</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Toyota</td>
				<td>Avensis</td>
				<td>2006</td>
				<td>Saloon</td>
				<td>No</td>
			</tr>
			<tr>
				<td>Toyota</td>
				<td>Avensis</td>
				<td>2008</td>
				<td>Saloon</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Toyota</td>
				<td>Avensis</td>
				<td>2008</td>
				<td>Saloon</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Audi</td>
				<td>Q7</td>
				<td>2007</td>
				<td>SUV</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Hyundai</td>
				<td>Santa Fe</td>
				<td>2012</td>
				<td>SUV</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Hyundai</td>
				<td>Santa Fe</td>
				<td>2013</td>
				<td>SUV</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Nissan</td>
				<td>Qashqai</td>
				<td>2007</td>
				<td>SUV</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Mercedez</td>
				<td>B Class</td>
				<td>2007</td>
				<td>Hatchback</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Lancia</td>
				<td>Ypsilon</td>
				<td>2006</td>
				<td>Hatchback</td>
				<td>Yes</td>
			</tr>
		</tbody>
	</table>
</div>

@section Scripts{

	<script type="text/javascript">
		$(document).ready(function () {
			$("#grid").kendoGrid({
				height: 550,
				sortable: true
			});
		});

	</script>
}

