@page
@model KentNoteBook.WebApp.Pages.UserAccounts.UsersModel
@{
	ViewData["Title"] = "Users";
}

<!--- Breadcrumbs -->
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="/Dashboard">Dashboard</a>
	</li>
	<li class="breadcrumb-item">
		<a href="/UserAccounts/Users">User Accounts</a>
	</li>
	<li class="breadcrumb-item active">Users</li>
</ol>

<div class="form-group row">
	<button type="button" class="btn btn-primary ml-auto mr-3" data-toggle="modal" data-target="#modal_dialog_layout" data-title="Add User" data-url="Dialog/UserEdit" data-size="lg">Add</button>
</div>

<div id="tbUsers" class="mb-3" style="height:100%"></div>

<div class="container">
	<div class="col-sm-6" style="height:130px;">
		<div class="form-group">
			<input type='text' class="form-control" id='datetimepicker11' />
		</div>
	</div>
</div>


@section Scripts{

<script type="text/javascript">
	$(function () {
		$('#datetimepicker11').daterangepicker({
			autoApply: true,
			autoUpdateInput: true,
			singleDatePicker: true,
			showDropdowns: true,
			timePicker: true,
			timePicker24Hour: true,
			timePickerSeconds: true,
			timePickerIncrement: 1,
			locale: {
				cancelLabel: 'Clear',
				format: 'YYYY/MM/DD H:mm:ss'
			}
		});

		$('#datetimepicker11').on('apply.daterangepicker', function (ev, picker) {
			//debugger;
			//$(this).val(picker.startDate.format('YYYY/MM/DD H:mm:ss'));
		});
	});
</script>
}

