@page
@model KentNoteBook.WebApp.Pages.Reports.LargeQuantityGeneratorRequirementsModel
@{
    ViewData["Title"] = "LargeQuantityGeneratorRequirements";
}

<h2>LargeQuantityGeneratorRequirements</h2>

