@page
@model KentNoteBook.WebApp.Pages.Shared.LeftModel
@{
	Layout = null;
}

<div class="list-group" id="menuRoot">
	<a class="list-group-item" href="/dashboard" ajax-link="true" data-url="/dashboard" data-update-panel=".main-container"><i class="fa fa-fw fa-dashboard"></i> <span class="nav-link-text">&nbsp;Dashboard </span></a>
	<a class="list-group-item" href="/charts"><i class="fa fa-fw fa-bar-chart-o"></i><span class="nav-link-text">&nbsp;Charts </span></a>
	<a class="list-group-item" href="/tables"><i class="fa fa-fw fa-table"></i><span class="nav-link-text">&nbsp;Tables</span> </a>
	<a class="list-group-item router-link-active" href="/forms" ajax-link="true" data-url="/forms" data-update-panel=".main-container"><i class="fa fa-fw fa-edit"></i><span class="nav-link-text">&nbsp;Forms</span> </a>
	<a class="list-group-item" href="/bs-element"><i class="fa fa-fw fa-desktop"></i><span class="nav-link-text">&nbsp;Bootstrap Element</span> </a>
	<a class="list-group-item" href="/grid"><i class="fa fa-fw fa-wrench"></i><span class="nav-link-text">&nbsp;Bootstrap Grid</span> </a>
	<a class="list-group-item" href="/components"><i class="fa fa-th-list"></i><span class="nav-link-text">&nbsp;Component</span> </a>

	<div class="submenu" data-toggle="tooltip" data-placement="right">
		<a class="nav-link nav-link-collapse list-group-item collapsed" data-toggle="collapse" href="#collapseUserAccouts" data-parent="#menuRoot" aria-expanded="false">
			<i class="fa fa-fw fa-group"></i>
			<span class="nav-link-text">User Management</span>
		</a>
		<ul class="collapse collapsed " id="collapseUserAccouts">
			<li>
				<a href="#" ajax-link="true" data-url="/UserManagement/Users" data-update-panel=".main-container"><i class="fa fa-fw fa-user"></i><span class="nav-link-text">&nbsp;Users</span></a>
			</li>
			<li>
				<a href="#" ajax-link="true" data-url="/UserManagement/Roles" data-update-panel=".main-container"><i class="fa fa-fw fa-sitemap"></i><span class="nav-link-text">&nbsp;Roles</span></a>
			</li>
			<li>
				<a href="#" ajax-link="true" data-url="/UserManagement/Permissions" data-update-panel=".main-container"><i class="fa fa-fw fa-unlock-alt"></i><span class="nav-link-text">&nbsp;Permissions</span></a>
			</li>
			<li>
				<a href="#" ajax-link="true" data-url="/UserManagement/Menus" data-update-panel=".main-container"><i class="fa fa-fw fa-navicon"></i><span class="nav-link-text">&nbsp;Menus</span></a>
			</li>
		</ul>
	</div>

	<div class="submenu side-profile" data-toggle="tooltip" data-placement="right">
		<a class="nav-link nav-link-collapse list-group-item collapsed" data-toggle="collapse" href="#collapseSettings" data-parent="#menuRoot" aria-expanded="false">
			<i class="fa fa-fw fa-user"></i>
			<span class="nav-link-text">Admin User</span>
		</a>
		<ul class="collapse collapsed" id="collapseSettings">
			<li><a href="javascript:void(0)"><span><i class="fa fa-fw fa-user"></i> Profile</span></a></li>
			<li><a href="javascript:void(0)"><span><i class="fa fa-fw fa-envelope"></i> Inbox</span></a></li>
			<li><a href="javascript:void(0)"><span><i class="fa fa-fw fa-gear"></i> Settings</span></a></li>
			<li><a href="/login"><span><i class="fa fa-fw fa-power-off"></i> Log Out</span></a></li>
		</ul>
	</div>
</div>